name: CI/CD Pipeline

on:
  push:
    branches:
      - main   
  pull_request:
    branches:
      - main

jobs:
  test-frontend:
    name: Run Frontend Unit Tests
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file for frontend
        run: echo "VITE_OPENAI_API_KEY=${{ secrets.VITE_OPENAI_API_KEY }}" > .env

      - name: Clean and install dependencies
        run: |
          rm -rf node_modules package-lock.json
          npm install


      - name: Run unit tests
        run: npm run test -- --coverage

  deploy-backend:
    name: Deploy Backend (SAM)
    runs-on: ubuntu-latest
    needs: test-frontend
    if: github.ref == 'refs/heads/main'

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install AWS SAM CLI
        uses: aws-actions/setup-sam@v2

      - name: Build SAM application
        run: sam build

      - name: Deploy SAM application
        run: |
          sam deploy \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --stack-name TripTrekStack \
            --capabilities CAPABILITY_IAM \
            --s3-bucket ${{ secrets.SAM_S3_BUCKET }} \
            --region ${{ secrets.AWS_REGION }} \
            --parameter-overrides ImageUploadBucket=${{ secrets.IMAGE_UPLOAD_BUCKET }}
